
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mission</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline">Kumar</h1>
        <div style="background-color:burlywood">
            <h3 style="text-align: center;color:chartreuse">Our Mission</h3>
            <p style="text-align: justify; font-size:16px; text-indent:50px; color:brown">
                To enrich the knowledge & skill sets of young software engineers by     providing value added training in the areas of Software Development & Testing. To serve the industries by providing trained human resources in the above areas. To provide quality Software Training and Consulting Services in the areas of J2EE, .NET, ERP, Database Administration, Testing, Content Management with Live Projects.
            </p>
        </div>
        <h4 style="text-align:center;color:red">Click here to go to <a href="/Home/Index">Home Page.</a></h4>


    </div>
</body>
</html>
