
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1 style="text-align: center; color: red; text-decoration: underline">Naresh I Technologies</h1>
        <div style="background-color: cyan">
            <h3 style="text-align: center">About page created using Web Form View Engine.</h3>
            <p style="text-align: justify; font-size: 16px; text-indent: 50px; color: coral">
                Naresh I Technologies (Pronounced: NareshIT) is a leading software training institute providing Software Training, Project Guidance, IT Consulting and Technology Workshops. Using our enhanced global software training delivery methodology, innovative software training approach and industry expertise, we provide high-value corporate training services that enable our clients to enhance business performance, accelerate time-to-market, increase productivity, and improve customer service. We serve Global 100 companies and the leading software vendors in Banking & Financial Services, Insurance, Telecommunications, Technology and Media, Information & Education industries.  We design and mentor human resources for our clients who create competitive advantage. Founded in 2004 and headquartered in Hyderabad, India, we have offices and training institutes throughout India.
            </p>
        </div>
        <h4 style="text-align: center; color: red">Click here to go to <a href="/Home/Index">Home Page.</a></h4>


    </div>
</body>
</html>
