
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline">Kumar</h1>
        <h2>Click on the links below to navigate:</h2>
        <h3>
            <a href="/Home/Resister">Register</a> <br />
            <a href="/Home/Login">Login</a> <br />
            <a href="/Home/ForgotPassword">Forgot Password</a><br />
            <a href="/Home/ResetPassword">Reset Password</a><br />
            <a href="/Home/Contact">Contact Us</a><br />
            <a href="/Home/Mission">Mission</a><br />
            <a href="/Home/About">About Us</a><br />
        </h3>

    </div>
</body>
</html>
